@import '../../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding-top: 100px;
    margin-bottom: 25px;
}

.blurb {
    text-align: center;
    max-width: 40%;
    min-width: 550px;
}

.report {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    width: 100%;
}

.graph {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    max-width: 25%;
    min-width: 350px;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 3px;
    width: 100%;
}

.numbers {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.value {
    border: $main 5px solid;
    border-radius: 100vh;
    height: 0;
}

#continue {
    margin-top: 60px;
}